node_modules/
public/
.DS_Store
notes/
/.vscode

/wp
/wp-config.php

/vendor

content/plugins/*
!content/plugins/ocooking-settings

content/themes/*
!content/themes/ocooking

content/languages
content/db.php
